/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

header {
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  display: inline;
  float: left;
  padding: 14px 16px;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0000;
  top: 0;
}

li a {
  display: block;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: inherit;
}

li a:hover {
  background-color: beige;
}

.content  {
  background-color: beige;
  margin: 0px;
  padding: 50px;
}

.products  {
  padding-top: 30px;
  background-color: lightblue;
  text-align: center;
}

.products_two {
  padding-top: 30px;
  background-color: lightpink;
  text-align: center;
}

.row {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
}
