<h1>Reviews</h1>

<ul>
  <% @reviews.each do |review| %>
    <li><%= review.author %></li>
        <li><%= link_to review.author review_path(review) %></li>
  <% end %>
</ul>


<%= link_to "New Review", new_review_path %>
